<!--{% block title %}Обслуживание систем теплового учета -- kip-minsk{% endblock %}-->

<!--{% block content %}-->
    <section>
        <div class="left-div">
            <div>
                <p>
                    Ны:
                </p>
                <div>
                    Velcom: +375 29 123-45-67
                </div>
                <div>
                    МТС:    +375 29 123-45-67
                </div>
                <div>
                    Life:   +375 29 123-45-67
                </div>
            </div>
            <p>
                Email: antonina@valerka.com
            </p>
            <p>
                Мы находимся в 5 минутах ходьбы от ст.м.Молодёжная.
            </p>
        </div>
        <div class="right-div">
            <dl>
                <dt>
                    <label>
                        Имя
                        <span class="star">&nbsp;*</span>
                    </label>
                </dt>
                <dd>
                    <input type="text">
                </dd>
                <dt>
                    <label>
                        E-mail
                        <span class="star">&nbsp;*</span>
                    </label>
                </dt>
                <dd>
                    <input type="text">
                </dd>
                <dt>
                    <label>
                        Тема
                        <span class="star">&nbsp;*</span>
                    </label>
                </dt>
                <dd>
                    <input type="text">
                </dd>
                <dt>
                    <label>
                        Текст сообщения
                        <span class="star">&nbsp;*</span>
                    </label>
                </dt>
                <dd>
                    <input type="text">
                </dd>
            </dl>
            <input type="button">
        </div>
        <div id="'google_map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2350.3473044092143!2d27.512803115577622!3d53.907804080100526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc5598053ac5b%3A0x8698638023ff609e!2z0JrQsNC70YzQstCw0YDQuNC50YHQutCw0Y8g0YPQuy4gNDQsINCc0LjQvdGB0LosINCR0LXQu9Cw0YDRg9GB0Yw!5e0!3m2!1sru!2sru!4v1447593288626" width="940" height="455" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <br>
        <div>
            <p>

            </p>
        </div>
    </section>
<!--{% endblock %}-->