

<!--{% block title %}Обслуживание систем теплового учета -- kip-minsk{% endblock %}-->

<!--{% block content %}-->

		<section>
            <p>
                фывфывфывфывфывфв
            </p>
            <p>
                sdasdasdasd,mandlkjnfjhasnceb fgebrfjhnjnsckjsnfyrrhfgyrtgfbcbvhfuajsnkn
            </p>
            <p>
                adsxcl,zicmuenfjhsncjhndkamslx;ldskfmmks vh bubfnf wwnf wf wnfjsnfkj
            </p>
        </section>
        <table>
            <tr>
                <td>
                    asd
                </td>
                <td>
                    asd
                </td>
                <td>
                    asd
                </td>
                <td>
                    asd
                </td>
                <td>
                    asd
                </td>
                <td>
                    asd
                </td>
            </tr>
            <tr>
                <td>
                    asd
                </td>
                <td>
                    asd
                </td>
            </tr>
        </table>
<!--{% endblock %}-->