<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!--<title>{% block title %}{% endblock %}</title>-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <script type="text/javascript">
        $(window).bind('scroll', function() {
           if ($(window).scrollTop() < 276) {
              $('.top-menu').addClass('fixed');
           }
           else
           {
              $('.top-menu').removeClass('fixed');
           }
        });
    </script>
    <div id="wrapper">
		<header>
            <a href="/"><img src="{% static 'pic/banner.gif' %}" alt="kip-logo" width="100%"></a>
        </header>
        <div class="headerstat">
            <nav>
                <ul class="top-menu">
                    <!--<li class="home">Главная</li>-->
                    <li><a href="/">Главная</a></li>
                    <li><a href="/services/">Обслуживание систем теплового учета и регулирования</a></li>
                    <li><a href="/electrical/">Электромонтажные работы</a></li>
                    <li><a href="/contact/">Наши контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="content">
    <!--{% block content %}{% endblock %}-->

    {% if home_page %}
        {% include 'home_page.html' %}
    {% elif service_page %}
        {% include 'service_page.html' %}
    {% elif electrical_page %}
        {% include 'electrical_page.html' %}
    {% else %}
        {% include 'contact.html' %}
    {% endif %}
    </div>
    <footer>
        <div id="footer">
            <div id="sitemap">
                <h3>Карта сайта:</h3>
                <div>
                    <a href="/">Главная страница</a>
                    <a href="/contact/">Наши контакты</a>
                </div>
                <div>
                    <a href="/electrical/">Электромонтажные работы</a>
                    <a href="/services/">Обслуживание систем теплового учета и регулирования</a>
                </div>
            </div>
            <div id="footer-logo">
                <a href="/"><img src="" alt="kip-minsk logo"></a>
                <p>Copyright © 2015 kip-minsk.by</p>
            </div>
        </div>
    </footer>
</body>
</html>